html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
  padding-top: 50px;
}
.template-heading {
  padding: 40px 15px;
}
.nav-text {
    color: white;
}
.navbar-inverse .btn-link {
    color: #1995dc;
    text-decoration: underline;
}

.navbar-inverse .btn-link:hover {
    color: white;
}

.nav-text a {
    color: #1995dc;
    text-decoration: underline;
}

.nav-text a:hover {
    color: white;
}

.span-item {
	display: inline-block;
}

.first-span {
    width: 50px;
    text-align: center;
}

.votebtn {
    color: black;
    text-decoration: none;
}

.votebtn:hover {
    color: grey;
    text-decoration: none;
}
.nogreen {
    color: #325d88;
    text-decoration: underline;
}

@media (min-width: 768px) {
    .nav-text {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 20px;
}
}
