@using Microsoft.EntityFrameworkCore.Metadata.Internal
@{
    ViewData["Title"] = "Reddit.NET - Create Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Reddit.net.Models.PostModel

<div class="col-sm-12">
    
    <h3>View Post - /s/@Html.DisplayFor(modelItem => Model.Subnet)/@Html.DisplayFor(modelItem => Model.Title)</h3>

    <hr/>

    <strong>post title: @Html.DisplayFor(modelItem => Model.Title) </strong><br /><br/>
    <strong>post content: @Html.DisplayFor(modelItem => Model.Content) </strong>

</div>