@using Reddit.net.Models
@{
    ViewData["Title"] = "Reddit.NET - View Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var post = (PostModel)ViewData["post"];
}

<div class="col-sm-12">
    
    <h3>View Post - /s/@post.Subnet/@post.Id</h3>

    <hr/>

    <strong>post title: @post.Title </strong><br /><br/>
    <strong>post content: @post.Content </strong>

</div>