<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Reddit.NET</a>
            <ul class="nav navbar-nav">
                <li><a class="navbar-link" href="#"><small>Subnets</small></a></li>
            </ul>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            @if (User.Identity.IsAuthenticated)
            {
                            @using (Html.BeginForm("LogOff", "Account"))
                            {
                                <p class="nav-text pull-right">@User.Identity.Name (0) - <input type="submit" name="logoutbutton" value="Logout" class="btn-link"></p>
                 }
            }
            else
            {
                <p class="nav-text pull-right"><small>Want to Join? @Html.ActionLink("Login", "Login", "Account"), or @Html.ActionLink("Sign up", "Register", "Account") in seconds!</small>
                </p>
            }
        </div>
    </div>
</nav>