@{
    ViewData["Title"] = "Reddit.NET - Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="mobile-register center-block">
        <h2>Thank you for registering!</h2>
        <p>Click <span><a href="/">here</a></span> to continue</p>
    </div>
</div>